table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}
th {
    background-color: #4CAF50;
    color: white;
}
tr:hover {
    background-color: orange;
}