
.parent {
    background-color: #34495e;
}
.parent div {
    width: 120px;
    height: 45px;
    margin: 3px;
    border-radius: 5px;
}
.box1{
    background-color: #9b59b6;
    float: left;
}
.box2{
    background-color: #2ecc71;
    float: left;
}
.box3{
    background-color: #34495e;
    
}
.box4{
    background-color: #e67e22;
    
}
.box5{
    background-color: #2980b9;
   
}
.box6{
    background-color: #ffeaa7;
    
}