.flex-item {
  width: 200px;
  height: 100px;
  background-color: #9b59b6;
  margin: 0.5rem;
  font-size: 40px;
  color: white;
  text-align: center;
}
.flex-container-jc {
  display: flex;
  justify-content: center;
 
  height: 500px;
  background-color: #34495e;
}
.flex-container-fs {
  display: flex;
  justify-content: flex-start;
 
  height: 500px;
    background-color: #34495e;
}

.flex-container-fe {
  display: flex;
  justify-content: flex-end;
  
  height: 500px;
  background-color: #34495e;
}
.flex-container-sa {
  display: flex;
  justify-content: space-around;

  height: 500px;
    background-color: #34495e;
}
.flex-container-sb {
  display: flex;
  justify-content: space-between;
  height: 500px;
  background-color: #34495e;
}
