
.item {
  width: 200px;
  height: 100px;
  background-color: beige;
  margin: 2px;
  text-align: center;
}
.flex-container-r {
  display: flex;
  flex-direction: row;
  height: 500px;
  background-color: dodgerblue;
  font-size: 40px;
  text-align: center;
  justify-content: center;
}
.flex-container-c {
  display: flex;
  flex-direction: row;
  height: 500px;
  background-color: dodgerblue;
  font-size: 40px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
.flex-container-rr {
  display: flex;
  flex-direction: row;
  height: 500px;
  background-color: dodgerblue;
  font-size: 40px;
  text-align: center;
  justify-content: center;
  flex-direction: row-reverse;
}

.flex-container-cr {
  display: flex;
  flex-direction: row;
  height: 500px;
  background-color: dodgerblue;
  font-size: 40px;
  text-align: center;
  justify-content: center;
  flex-direction: column-reverse;
}
.flex-container-wrap {
  display: flex;
  flex-direction: row;
  height: 500px;
  background-color: dodgerblue;
  font-size: 40px;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-container-nowrap {
  display: flex;
  flex-direction: row;
  height: 500px;
  background-color: dodgerblue;
  font-size: 40px;
  text-align: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.flex-container-wrap-reverse {
  display: flex;
  flex-direction: row;
  height: 500px;
  background-color: dodgerblue;
  font-size: 40px;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
}
