.flex-item {
  width: 15%;
  height: 30%;
  background-color: chartreuse;
  margin: 0.5rem;
}
.flex-container-jc {
  display: flex;
  justify-content: center;
  width: 90vw;
  height: 30vh;
  background-color: darksalmon;
}
.flex-container-fs {
  display: flex;
  justify-content: flex-start;
  width: 90vw;
  height: 30vh;
  background-color: darksalmon;
}

.flex-container-fe {
  display: flex;
  justify-content: flex-end;
  width: 90vw;
  height: 30vh;
  background-color: darksalmon;
}
.flex-container-sa {
  display: flex;
  justify-content: space-around;
  width: 90vw;
  height: 30vh;
  background-color: darksalmon;
}
.flex-container-sb {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  height: 30vh;
  background-color: darksalmon;
}
