
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.outside {
    /* this is by default value */
    list-style-position: outside;
    
}

.inside {
    list-style-position: inside;
    
}

.item {
    border: 1px solid black;
    margin-top: 2px;
    width: 100px;
}