body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.a {
    list-style-type: circle;
}
.b {
    list-style-type: square;
}
.c {
    list-style-type: upper-roman;
}
.d {
    list-style-type: lower-alpha;
}